@import url(../css/Features.css);
@import url(../css/Header.css);
@import url(../css/Works.css);
@import url(../css/Team.css);
@import url(../css/Fastc.css);
@import url(../css/Footer.css);
@import url(../css/Contact.css);

@font-face {
  font-family: 'Extrabold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Extrabold.ttf"); }
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans_bold.ttf"); }
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans_Light.ttf"); }
@font-face {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans_Regular.ttf"); }
