
.sec-title-2 {
}
.sec-title-2 h2 {
    color: #0eb493;
    font-size: 28px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;

}

.sec-sub-title {
    margin: 35px 0 45px;

}

.sec-sub-title p {
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #5b646e;
}

.devider-2 {
    text-align: center;

}

.devider-2 i {
    color: #cccccc;

}

.devider-2:before,
.devider-2:after {
    content: "______________________";
    color: #e6e8ea;
    position: relative;
    bottom: 6px;
}

.devider-2:before {
    right: 10px;
}

.devider-2:after {
    left: 10px;
}

.mb50 {
    margin-bottom: 50px;

}
#contact{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    width: 1650px;
}
.contact {
    padding-bottom: 0;
}

.contact-address h3 {
    color: #062033;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
}

.contact-address p {
    line-height: 24px;
}

.contact-form {}

.contact-form h3 {
    color: #062033;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 25px;
}

.contact-form .input-group {
    width: 100%;
}

.contact-form .form-control {
    border-color:#cccccc;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    margin-bottom: 10px;
    resize: none;
}

.contact-form .input-field {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.contact-form .input-field:last-child {
    margin-right: 0;
}

.contact-form .form-control.error {
    border-bottom-color: #c0392b;
}

label.error {
    color: #c0392b;
    font-weight: normal;
    text-transform: capitalize;
}

.contact-form #form-submit {
    background: url("../img/envelop.png") no-repeat scroll 0 15px transparent;
    border: 0 none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    padding: 10px;
    text-align: right;
    width: 150px;
}

.footer-social {
    margin-top: 17px;
}

.footer-social li a {
    color: #cdd2d6;
    display: block;
    margin-bottom: 10px;
}
ul{
    list-style-type: none;
    padding-top: 30px;
}

#map_canvas {
    height: 215px;
    width: 1650px;
    padding-left: 0;
}